*{
    margin: 0;
    padding: 0;
}
html{
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(#2b1055, #7597de);
}
.motogp{
    padding-left: 200px;
    padding-right: 200px;
    color: white;
    font-size: 50px;
}
header{
    background-color: black;
    min-height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-size: 38px;
}
a{
    text-decoration: none;
}
nav a{
    padding-right: 80px;
    padding-left: 80px;
    color: white;
    border-radius: 30px;
}
nav a:hover{
    color: #7597de;
    background: white;
}
main{
    display: flex;
    justify-content: baseline;
    text-align: left;
    align-items: center;
    padding: 50px;
    line-height: 50px;
    font-size: 22px;
    width: 100%;
}
main h2{
    margin: 20px;
    line-height: 70px;
}
video{
    padding-right: 100px;
    align-items: center;
    height: auto;
    margin-left: 100px;
}
h2{
    color: white;
    line-height: 60px;
}
h3{
    text-align: center;
    font-size: 50px;
    padding: 25px;
    color: white;
    background-color: black;
}
section{
    font-size: 35px;
    line-height: 70px;
    margin: 0px;
    color: white;
}
div p{
    padding: 25px;
    font-size: 30px;
    color: white;
    line-height: 50px;
}
section ul{
    padding: 28px;
    margin-left: 30px;
}
div ul li{
    padding-left: 25px;
    font-size: 30px;
    padding: 20px;
}
table{
    padding: 25px;
    font-size: 35px;
    line-height: 40px;
    margin: 20px auto;
    width: 50%;
    border-collapse: collapse;
    color: white;
}

table td, table th{
    padding: 12px 15px;
    border: 1px solid black;
    text-align: center;
}

th{
    padding: 5px;
    font-size: 45px;
    background-color: black;
    color: white;
}
tr td{
    padding: 5px;
}
body div h3 table{
    background: black;
}
footer{
    background-color: black;
    color: white;
    font-size: 30px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2, 1fr;
    align-items: center;
    line-height: 5px;
    text-align: left;
    padding-left: 500px;
    padding-right: 500px;
    display: flex;
    justify-content: space-between;
}
footer p{
    line-height: 75px;
}
footer div a{
    max-width: 8px;
    max-height: 8px;
}
.slider{
    padding-left: 12%;
    width: 100%;
    margin: auto;
    height: 900px;
    background: #2b1055;
}

.slider ul{
    padding: 0;
    display: flex;
    width: 400%;
    animation: slider 25s infinite alternate;
}

.slider li{
    width: 75%;
    list-style: none;
}

.slider li img{
    width: 75%;
}

@keyframes slider{
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}

@media (max-width:700px){
    header{
        flex-direction: column;
    }

    nav{
        padding: 10px 0px;
    }
}

@media (max-width:700px){
    footer{
        flex-direction: column;
    }
}

@media (max-width:700px){
    main{
        flex-direction: column;
    }
}